I’m a Systems/Software Engineer in the San Francisco Bay Area. I moved from Columbus, Ohio in 2007 after getting a B.S. in Physics from the Ohio State University. I'm married, and we have dogs.
<br />
<br />
Under my github account (<a href="https://github.com/addumb/">https://github.com/addumb</a>):
I open-sourced <a href="https://github.com/quixey/python-aliyun">python-aliyun</a> in 2014,
I have an outdated python 2 project starter template at <a href="https://github.com/addumb/python-example">python-example</a>,
and I have a pretty handy “sshec2” command and some others in <a href="https://github.com/addumb/tools">tools</a>.
<hr/>
<ul>
  {% for post in site.posts %}
  {% if page.url == post.url %}
  <li>--> {{post.title}}</li>
  {% else %}
  <li><a href="{{post.url}}">{{post.title}}</a> ({{ post.date | date: "%Y-%-m-%-d" }})</li>
  {% endif %}
  {% endfor %}
</ul>
